/* -- CSS definition for CITIZEN ART DAYS by PARALLELE WELTEN --- */


html,body {
	margin:0;
	padding:0;
}

body {
	font: 90% arial,sans-serif;
	/*border:1px solid #ff0;*/
}

p { 
	margin:0 12px 10px;
}

h1 {
	font:130% arial,sans-serif;
	font-weight:bold;
	padding:0 0 10px 12px;
	margin:10px 0;
}

h2 {
	font:120% arial,sans-serif;
	font-weight:bold;
	padding:0 0 10px 12px;
	margin:10px 0;
}

h3 {
	font:110% arial,sans-serif;
	font-weight:bold;
	padding:0 0 10px 12px;
	margin:10px 0 0 0;
}

h4 {
	font:100% arial,sans-serif;
	font-weight:bold;
	padding:0 0 0 12px;
	margin:10px 0 0 0;
}

h5 {
	font:100% arial,sans-serif;
	font-weight:bold;
	padding: 0 0 0 12px;
	margin:-10px 0 10px 0;
	color:#555;
}


a,
a:link,
a:visited {
	color:#000;
}
a:focus,
a:active,
a:hover {
	color:#9716b3;
}

.gray {
	color:#555;
}

.clear {
	clear:both;
}

.highlight {
	background-color:#e3acef;
}

.lila {
	color: #9716b3;
}

.zitat {
	margin:20px 80px 10px 150px;
}


/* ------------------------ BEGIN MENUE------------------------*/

div#header {
	margin:20px 0 0 0;
}

hr {
	border-right:#666;
	border-bottom:#666;
	border-left:#666;
}

ul#navigation {
	float:right;
	font:130% courier;
	margin:0; 
	padding:0 0 25px 0;
	/*letter-spacing:0.02em;
	font-weight:lighter;*/
}

ul#navigation li,
#header .menu-liste li {
	list-style:none;
	float:right;
	padding:0 2px 0 20px;
}

ul#navigation a,
ul#navigation a:link,
ul#navigation a:visited {
	text-decoration:none;
	background-color:#000;
	color:#fff;
}

ul#navigation a:focus,
ul#navigation a:active,
ul#navigation a:hover {
	text-decoration:none;
	background-color:#fff;
	color:#000;
}

ul#navigation li.on a,
ul#navigation li.on a:link,
ul#navigation li.on a:visited,
ul#navigation li.on a:focus,
ul#navigation li.on a:active,
ul#navigation li.on a:hover {
	text-decoration:none;
	display:block;
	background-color:#fff;
	color:#000;
}

.menuder, .menuder ul {background:none;border:none;width:auto}

.menuder a {padding:0}

ul#language {	
	font-size: 120%;
	font-family: courier;
	margin:0; 
	padding:0;
}

ul#language li {
	list-style:none;
	float:left;
	padding:0 20px 0 2px;
}

ul#language a,
ul#language a:link,
ul#language a:visited {
	text-decoration:none;
	background-color:#000;
	color:#fff;
}

ul#language a:focus,
ul#language a:active,
ul#language a:hover {
	text-decoration:none;
	background-color:#fff;
	color:#000;
}

ul#language li.on a,
ul#language li.on a:link,
ul#language li.on a:visited,
ul#language li.on a:focus,
ul#language li.on a:active,
ul#language li.on a:hover {
	text-decoration:none;
	background-color:#fff;
	/*display:block;*/
	color:#000;
}


/* ------------------------ BEGIN   CONTENT HOMEPAGE ------------------------*/


div#wrapperHome {
	/*border:1px solid red;*/
	clear:both;
}

div#wrapperHome p {
	line-height:1.4;
}

div#wrapper ul.listing li {
	list-style:circle;
}


/* ------------------------ BEGIN   CONTENT INNER PAGES ------------------------*/



div#breadcrumb {
	clear:both;
	font:90% arial,sans-serif;
	color:#fff;
	margin:10px 0;
}

div#breadcrumb a,
div#breadcrumb a:link,
div#breadcrumb a:visited {
	text-decoration:underline;
	color:#fff;
}

div#breadcrumb a:focus,
div#breadcrumb a:active,
div#breadcrumb a:hover {
	text-decoration:none;
	color:#9716b3;
}

div#content p {
	line-height:1.4;
}

div#details {
	background:#fff;
	float:right;
	width:29.9%;
	line-height:1.4;
	border-radius:4px;
    behavior: url(/PIE.htc);
}

div#details ul.auflistung {
	margin:0 10px 10px 30px; 
	padding:0;
}

div#details ul.auflistung li {
	list-style:circle;
}

div#wrapper {
	float:left;
	width:68%;
	background:#fff;
	border-radius:4px;
	behavior: url(/PIE.htc);
}

div.top {
	font:90% arial,sans-serif;
	color:#000;
	margin:0;
	padding:10px 20px 10px 0;
	text-align:right;
}

div.top a,
div.top a:link,
div.top a:visited {
	text-decoration:underline;
	color:#000;
}

div.top a:focus,
div.top a:active,
div.top a:hover {
	text-decoration:none;
	color:#9716b3;
}



/* ------------------------ BEGIN   PARALLELE WELTEN INFO + FOOTER ------------------------*/

div.extra {
	background:#fff;
	clear:both;
	padding:10px 0 10px 0;
	text-align:left;
	border-radius:4px;
	behavior: url(/PIE.htc);
	margin-bottom:1.5em;
	position:relative
}

div.extra.lila {
	background:#9716B3;
	color:white;
}

.lila p{
    bottom: 1.5em;
    font-size: 20px;
    left: 250px;
    position: absolute;
}
/*div#extra img {
	margin-top:-30px;
}*/

div#footer {
	clear:both;
	color: #fff;
	text-align:left;
	padding:20px 0;
	background:#2a2424;
}


div#footer .wrapper {
	width: 1036px;margin:0 auto;
}

div#footer p{padding:0;margin:0 0 2em 0}

div#footer .wrapper .menu {widtH:110%;overflow:hidden}

div#footer .wrapper .menu div{float:left;width:20%;}

div#footer ul {
	list-style: none;
	margin:0;
	padding:0
}
div#footer ul#language{margin-bottom:1em}

div#footer ul#language li{float:none}

div#footer a,
div#footer a:link,
div#footer a:visited {
	color:#fff;
	background:none;
	text-decoration:none;
	font: 14px arial,sans-serif;
}
div#footer ul#language li.on a,
div#footer ul#language li.on a:link,
div#footer ul#language li.on a:visited,
div#footer ul#language li.on a:focus,
div#footer ul#language li.on a:active,
div#footer ul#language li.on a:hover {
  background: none;
  color:#fff;
font: 14px arial,sans-serif;
text-decoration:none;
}
div#footer a:focus,
div#footer a:active,
div#footer a:hover {
	color:#000;
}

#menu_5 td{padding:5px; 0}

#menu_5 td.link{border-right:#F3F4F5 1px solid;padding-right:5px;}
#menu_5 td.icon{border-left:#F3F4F5  1px solid;padding-left:5px;}

#menu_5 tr.first td.link, #menu_5 tr.first td.icon{border-top:#F3F4F5 1px solid;}
#menu_5 tr.last td.link, #menu_5 tr.last td.icon{border-bottom:#F3F4F5 1px solid;}

/* ------------------------ BEGIN   GENERALS ------------------------*/


.end {
	clear:both;
	height:50px;
}

.clear {
	clear:both;
}

div#container {
	width:1036px;
	text-align:left;
	padding:0;
	margin:0;
}

a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/*Rainer*/

#top_menu{background:#9716B3;padding:0.5em 0;}

#top_menu a{color:#FFFFFF; text-decoration:none}

#top_menu .wrapper{width: 1036px;margin:0 auto;}

#top_menu .menu{float:right}

#top_menu .menu div{float:left; margin-left:5em}

.image_typo{
	float:left;
	margin:0 0 2em 2em;
	}
.clear{clear:both;margin:0;padding:0}

ul#ticker{list-style: none;margin:0;padding:0;float:left}

/*.rubrique_kuenstler #details{position:fixed;left:68%;width:inherit;max-width:29%}*/

/*div {border:1px solid #f00}*/
